<div class="container">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="row">
     <div class="col-sm-12">
      <!-- loading kid -->


      <!-- loading kid -->
       <%= simple_form_for(@kid) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
         <% if @kid.errors.any? %>
           <div class="errors-container">
             <ul>
               <% @kid.errors.full_messages.each do |message| %>
                <li><%= message %></li>
               <% end %>
             </ul>
           </div>
          <% end %>
          <div class="form-inputs">
           <%= f.input :first_name %>
           <%= f.input :last_name %>
           <%= f.input :date_of_birth %>
           <%= f.input :gender, as: :radio_buttons,
                        collection: ['Male', 'Female', 'Non-binary'] %>
           <%= f.input :primary_language %>
           <%= f.input :secondary_language %>
           <%= f.hidden_field :kindergarden_id, value: @kindergarden.id %>
          </div>
           <div class="form-actions">
             <%= f.submit 'APPLY', class: "btn btn-danger" %>
           </div>
          <% end %>
        </div>
       </div>
      </div>
    </div>

