<div class="container">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="container" id="my-kids">
      <h4 style="margin-top: 30px;">Your kids</h4>
      <table style="width: 100%;">
        <thead>
          <tr>
            <th style="border: 1px solid #ddd; padding: 8px;">First name</th>
            <th style="border: 1px solid #ddd; padding: 8px;">Last name</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.kids.each do |kid| %>
          <tr>
            <td style="border: 1px solid #ddd; padding: 8px;">
              <%= link_to kid.first_name, edit_kid_path(kid) %>
            </td>
            <td style="border: 1px solid #ddd; padding: 8px;">
              <%= kid.last_name %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>
</div>

<div class="container">
  <%= link_to "Back", :back %>
</div>
