<div class="container">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="row">
     <div class="col-sm-12">
       <%= simple_form_for(@kid) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
         <% if @kid.errors.any? %>
           <div class="errors-container">
             <ul>
               <% @kid.errors.full_messages.each do |message| %>
                <li><%= message %></li>
               <% end %>
             </ul>
           </div>
          <% end %>
          <div class="form-inputs">
           <%= f.input :first_name %>
           <%= f.input :last_name %>
           <%= f.input :date_of_birth %>
           <%= f.input :primary_language %>
           <%= f.input :secondary_language %>

        </div>
       <div class="form-actions">
         <%= f.button :submit, class: "btn btn-primary" %>
       </div>
      <% end %>
    </div>
   </div>
  </div>
</div>

