<div id="wrapper" style=" color: #f57170;">
  <div class="kita-index-flex-left">
    <div class="d-flex" style=" color: #f57170;">
      <h4>SEARCH</h4>
      <hr class="kindergardens-line">
    </div>
      <%= render 'pages/advancedsearch' %>
      <h1>Kitas in Berlin</h1>
    <div>
        <div class="grid-container" >
          <% @kindergardens.each do |kindergarden| %>
            <%= render "shared/kita_card", kindergarden: kindergarden %>
          <% end %>
        </div>
    </div>
  </div>
  <div class="kita-index-flex-right">
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div><%= link_to "Home Page", root_path, class:"btn btn-white" %></div>
  </div>
</div>
<%= render "shared/footer", kindergarden: @kindergarden %>
































