<div class="container-fluid">
  <%= render 'pages/advancedsearch' %>
  <h1> Available KiTas </h1>
  <div class="row">
    <div class="col-8">
      <div class="row">
        <% @kindergardens.each do |kindergarden| %>
          <div class="col-4">
            <%= render "shared/kita_card", kindergarden: kindergarden %>

          </div>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <div
        id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
 </div>
<%= render "shared/footer", kindergarden: @kindergarden %>
