<div class="container">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <p id="notice"><%= notice %></p>
    <%= cl_image_tag "placeholder_1", height: 300, width: 400 if @kindergarden.photo.nil?%>
    <%= cl_image_tag @kindergarden.photo, height: 300, width: 400 unless @kindergarden.photo.nil?%>
    </p>
      <p>
       <strong>Name:</strong>
       <%= @kindergarden.name %>
      </p>
      <p>
        <strong>Address:</strong>
        <%= @kindergarden.address %>
      </p>
      <p>
       <strong>Language:</strong>
       <%= @kindergarden.language %>
      </p>
      <p>
       <strong>Capacity:</strong>
       <%= @kindergarden.capacity %>
      </p>
      <p>
       <strong>Phone:</strong>
       <%= @kindergarden.phone %>
      </p>
      <p>
       <strong>Email:</strong>
       <%= @kindergarden.email %>
      </p>
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-6">
              <div style="display: inline-block;">
               <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalCenter">
                APPLY!
               </button>
               <% @kid = Kid.new %>
                <%= render 'form', user: @current_user %>

                      <!-- #form -->



                        <!-- date -->




                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-danger">Save changes and apply!</button>
                    </div>
                  </div>
                </div>
              </div>
               <!-- Button trigger modal -->

              </div>
          </div>
        </div>
      </div>
  </div>
</div>

