<div class="container">
  <div class="row">
    <div class="col">
      <p id="notice"><%= notice %></p>
      <%= cl_image_tag "placeholder_1", height: 300, width: 400 if @kindergarden.photo.nil?%>
      <%= cl_image_tag @kindergarden.photo, height: 300, width: 400 unless @kindergarden.photo.nil?%>
      <p>
       <strong>Name:</strong>
       <%= @kindergarden.name %>
      </p>
      <p>
        <strong>Address:</strong>
        <%= @kindergarden.address %>
      </p>
      <p>
       <strong>Language:</strong>
       <%= @kindergarden.language %>
      </p>
      <p>
       <strong>Capacity:</strong>
       <%= @kindergarden.capacity %>
      </p>
      <p>
       <strong>Phone:</strong>
       <%= @kindergarden.phone %>
      </p>
      <p>
       <strong>Email:</strong>
       <%= @kindergarden.email %>
      </p>
      <p>
        <strong>Reviews</strong>
      </p>
      <ul class="list-group">
       <% @kindergarden.reviews.each do |review| %>
         <li class="list-group-item d-flex justify-content-between align-items-center">
           <span class="badge badge-primary badge-pill">
             <% counter = 0 %>
             <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
             <% end %>
           </span>
           <%= review.content %>
         </li>
        <% end %>
      </ul>
      <% if @my_reservation.nil? %>
        <h3>You will be able to leave a review once you have an accepted reservation in this kita</h3>
      <% else %>
        <% if @kindergarden.reviews.empty? %>
          <h3>Be the first to leave a review</h3>
        <% end %>
      <% end %>
      <% if @my_reservation.present? %>
        <%= render "reviews/new", reservation: @my_reservation, review: @review, condition: @condition %>
      <% end %>
    </div>
    <div class="col">
      <%= render 'kids/form' %>
    </div>
  </div>

<%= link_to "Home Page", root_path, class:"btn btn-primary" %>
</div>



