<div class="container">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <p id="notice"><%= notice %></p>
    <%= cl_image_tag "placeholder_1", height: 300, width: 400 if @kindergarden.photo.nil?%>
    <%= cl_image_tag @kindergarden.photo, height: 300, width: 400 unless @kindergarden.photo.nil?%>
    </p>
      <p>
       <strong>Name:</strong>
       <%= @kindergarden.name %>
      </p>
      <p>
        <strong>Address:</strong>
        <%= @kindergarden.address %>
      </p>
      <p>
       <strong>Language:</strong>
       <%= @kindergarden.language %>
      </p>
      <p>
       <strong>Capacity:</strong>
       <%= @kindergarden.capacity %>
      </p>
      <p>
       <strong>Phone:</strong>
       <%= @kindergarden.phone %>
      </p>
      <p>
       <strong>Email:</strong>
       <%= @kindergarden.email %>
      </p>
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-6">
              <div style="display: inline-block;">
               <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalCenter">
                APPLY!
              </button>

              <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Application Form</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!-- #form -->
                      <input class="form-control" type="text" placeholder="First Name">
                      <br>
                      <input class="form-control" type="text" placeholder="Last name">
                      <br>
                      <div class="form-group">
                        <label for="gender">Gender</label>
                        <select class="form-control" id="gender">
                          <option>Male</option>
                          <option>Female</option>
                        </select>
                      </div>
                      <input class="form-control" type="text" placeholder="Primary Language">
                      <br>
                      <input class="form-control" type="text" placeholder="Secondary Language">
                        <!-- date -->
                        <br>

                        <!-- date -->




                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-danger">Save changes and apply!</button>
                    </div>
                  </div>
                </div>
              </div>
               <!-- Button trigger modal -->

              </div>
          </div>
        </div>
      </div>
  </div>
</div>

