<div class="d-flex">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="d-flex">
          <div class="col-6">
           <!--<p id="notice"><%= notice %></p>-->
            <h1>
              <%= @kindergarden.name.upcase %>
            </h1>
             <h4>
              <%= @kindergarden.address %>
             </h4>
        <!-- description missing from the seeds-->
               <div class="d-flex">
                <h4>
                 <%= @kindergarden.phone %>
                </h4>
                <h4>
                 <%= @kindergarden.email %>
                </h4>
               </div>
          </div>
          <div class=col-6>
           <div id="map" style="width: 100%; height: 250px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
           ></div>
          </div>
        </div>
        <%= render "shared/kita_details", kindergarden: @kindergarden %>
        <%= render "shared/kita_reviews", kindergarden: @kindergarden %>
      </div>
    </div>
  </div>
</div>
