<div class="container">
  <div class="row">
    <div class="col">
      <p id="notice"><%= notice %></p>
      <%= cl_image_tag "placeholder_1", height: 300, width: 400 if @kindergarden.photo.nil?%>
      <%= cl_image_tag @kindergarden.photo, height: 300, width: 400 unless @kindergarden.photo.nil?%>
      <p>
       <strong>Name:</strong>
       <%= @kindergarden.name %>
      </p>
      <p>
        <strong>Address:</strong>
        <%= @kindergarden.address %>
      </p>
      <p>
       <strong>Language:</strong>
       <%= @kindergarden.language %>
      </p>
      <p>
       <strong>Capacity:</strong>
       <%= @kindergarden.capacity %>
      </p>
      <p>
       <strong>Phone:</strong>
       <%= @kindergarden.phone %>
      </p>
      <p>
       <strong>Email:</strong>
       <%= @kindergarden.email %>
      </p>
    </div>
    <div class="col">
      <%= render 'kids/form' %>
    </div>
  </div>

<%= link_to "Home Page", root_path, class:"btn btn-primary" %>
</div>



