<div class="container">
  <div class="row">
    <div class="col">
      <p id="notice"><%= notice %></p>
      <%= cl_image_tag "placeholder_1", height: 300, width: 400 if @kindergarden.photo.nil?%>
      <%= cl_image_tag @kindergarden.photo, height: 300, width: 400 unless @kindergarden.photo.nil?%>
      <div>
        <p>
          <strong><%= @kindergarden.name.upcase %></strong>
        </p>
        <p>
          <strong>Are there free available spots?:</strong>
          <%= @kindergarden.is_available %>
        </p>
        <p>
          <strong>Address:</strong>
          <%= @kindergarden.address %>
        </p>
        <p>
          <strong>Language:</strong>
          <%= @kindergarden.language %>
        </p>
        <p>
          <strong>Capacity:</strong>
          <%= @kindergarden.capacity %>
        </p>
        <p>
          <strong>Phone:</strong>
          <%= @kindergarden.phone %>
        </p>
        <p>
          <strong>Email:</strong>
          <%= @kindergarden.email %>
        </p>
        <% if @favourite.nil? %>
          <p>
            <strong><%= link_to "Add to favourites", kindergarden_favourites_path(@kindergarden),
              method: :post,
              data: {confirm: 'Adding to favourites' },
              class: "btn btn-primary" %></strong>
          </p>
        <% else %>
          <p hidden>
            <strong><%= link_to "Add to favourites", kindergarden_favourites_path(@kindergarden),
              method: :post,
              data: {confirm: 'Adding to favourites' },
              class: "btn btn-primary" %></strong>
          </p>
        <% end %>
        <p>
          <strong>Opening hours:</strong>
          <%= @kindergarden.opening_hours %>
        </p>
        <p>
          <strong>Closing hours:</strong>
          <%= @kindergarden.closing_hours %>
        </p>
        <p>
          <strong>Size:</strong>
          <%= @kindergarden.size %>
        </p>
        <p>
          <strong>Age structure:</strong>
          <%= @kindergarden.age_structure %>
        </p>
        <p>
          <strong>Educational System:</strong>
          <%= @kindergarden.edu_system %>
        </p>
        <p>
          <strong>Aesthetic education:</strong>
          <%= @kindergarden.aesthetic_edu %>
        </p>
        <p>
         <strong>Reviews</strong>
        </p>
      </div>
      <div class="d-flex">
        <div><%= link_to "Home Page", root_path, class:"btn btn-primary" %></div>


       <div><%=link_to "Back to search results", session[:search_results], class:"btn btn-primary" %></div>

     </div>
      </div>
       <div
         id="map"
         style="width: 100%;
         height: 600px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
      <ul class="list-group">
       <% @kindergarden.reviews.each do |review| %>
         <li class="list-group-item d-flex justify-content-between align-items-center">
           <span class="badge badge-primary badge-pill">
             <% counter = 0 %>
             <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
             <% end %>
           </span>
           <%= review.content %>
         </li>
        <% end %>
      </ul>
      <% if @my_reservation.nil? %>
        <h3>You will be able to leave a review once you have an accepted reservation in this kindergarden</h3>
      <% else %>
        <% if @kindergarden.reviews.empty? %>
          <h3>Be the first to leave a review</h3>
        <% end %>
      <% end %>
      <% if @my_reservation.present? %>
        <%= render "reviews/new", reservation: @my_reservation, review: @review, condition: @condition %>
      <% end %>
    </div>
    <div class="col">
      <% if @kindergarden.is_available == true %>
        <% if user_signed_in? %>
          <% if @kindergarden.is_available == true %>
            <% if current_user.kids.exists? %>
              <% if !@declined_reservations.empty? || @all_reservations.empty? %>
                <%= link_to "Apply", new_kindergarden_reservation_path(@kindergarden), class:"btn btn-primary" %>
              <% end %>
            <% else %>
              <%= link_to "Add your kid first", new_kid_path, class:"btn btn-primary" %>
            <% end %>
          <% else %>
            <%= render 'kids/notavailable' %>
            <%= "Sorry, at the moment you cannot apply to this KiTa" %>
          <% end %>
        <% else %>
          <%=link_to "Apply", new_kindergarden_reservation_path(@kindergarden), class:"btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



