<div class="container d-flex justify-content-between" >
  <div class="card" style="width: 60%" >
    <p id="notice"><%= notice %></p>
    <%= cl_image_tag "placeholder_1", height: 400, width: 600 if @kindergarden.photo.nil?%>
    <%= cl_image_tag @kindergarden.photo, height: 400, width: 600 unless @kindergarden.photo.nil?%>
    <div class=card-description style="display: flex; justify-content: space-between;">
      <div>
        <p>
          <strong>Name:</strong>
          <%= @kindergarden.name %>
        </p>
        <p>
          <strong>Address:</strong>
          <%= @kindergarden.address %>
        </p>
        <p><strong>Language:</strong>
          <%= @kindergarden.language %></p>
        <p><strong>Capacity:</strong>
          <%= @kindergarden.capacity %></p>
        <p><strong>Phone:</strong>
          <%= @kindergarden.phone %></p>
        <p><strong>Email:</strong>
          <%= @kindergarden.email %></p>
        <p><strong>Reviews</strong></p>
      </div>
      <div><%= link_to "Home Page", root_path, class:"btn btn-primary" %></div>
      </div>
       <div
         id="map"
         style="width: 100%;
         height: 600px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
      <ul class="list-group">
       <% @kindergarden.reviews.each do |review| %>
         <li class="list-group-item d-flex justify-content-between align-items-center">
           <span class="badge badge-primary badge-pill">
             <% counter = 0 %>
             <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
             <% end %>
           </span>
           <%= review.content %>
         </li>
        <% end %>
      </ul>
      <% if @my_reservation.nil? %>
        <h3>You will be able to leave a review once you have an accepted reservation in this kindergarden</h3>
      <% else %>
        <% if @kindergarden.reviews.empty? %>
          <h3>Be the first to leave a review</h3>
        <% end %>
      <% end %>
      <% if @my_reservation.present? %>
        <%= render "reviews/new", reservation: @my_reservation, review: @review, condition: @condition %>
      <% end %>
    </div>
    <div class="col">
      <%= render 'kids/form' %>
    </div>
  </div>
</div>


<div>
  <p>

  </p>
</div>
