<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "#{@kindergarden.name.gsub(/\s+/, "")}01", class: "carousel-img" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "#{@kindergarden.name.gsub(/\s+/, "")}02", class: "carousel-img" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "#{@kindergarden.name.gsub(/\s+/, "")}03", class: "carousel-img" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "#{@kindergarden.name.gsub(/\s+/, "")}04", class: "carousel-img" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "#{@kindergarden.name.gsub(/\s+/, "")}05", class: "carousel-img" %>
    </div>
  </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
