<% if user_signed_in? %>
  <% @all_reservations = current_user.reservations.where(kindergarden: kindergarden) %>
  <% @declined_reservations = current_user.reservations.where(kindergarden: kindergarden, status: 'Declined') %>
<% end %>

<div class="card <%= 'card-index' if controller_name == 'kindergardens' && action_name == 'index' %>">
  <% if kindergarden.photo.present? %>
    <div class="card-img" style="background-image: url('<%= cl_image_path kindergarden.photo, height: 300, width: 400, crop: :fill %>')"></div>
  <% else %>
    <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))"></div>
  <%end%>
  <div class="card-description">
    <h2><%=kindergarden.name%></h2>
    <i><%= kindergarden.language %></i>
    <address><p style="color: rgba(0,0,0,0.3)"><strong><%= kindergarden.address %></p></strong></address>
    <p style="color: rgba(0,0,0,0.6);"><%= truncate(kindergarden.description, length: 100, separator: ' ') %></p>
    <div class="d-flex justify-content-between">
      <%=link_to "More details", kindergarden_path(kindergarden.id), class: "btn btn-secondary" %>

      <% if kindergarden.is_available == true %>
        <% if user_signed_in? %>
          <% if current_user.kids.exists? %>
            <% if !@declined_reservations.empty? || @all_reservations.empty? %>
              <%= link_to "Apply", new_kindergarden_reservation_path(kindergarden), class: "btn btn-primary" %>
            <% end %>
          <% else %>
            <%= link_to "Add kid", new_kid_path, class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <%=link_to "Apply", new_kindergarden_reservation_path(kindergarden),  class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
