<%= form_tag kindergardens_path, method: :get, class: "search-location mt-md-5" do %>
  <div class="row justify-content-center">
    <div class="col-lg-10 align-items-end">
      <div class="form-group">
        <div class="form-field">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by name, language or location",
            autocomplete: "off"
            %>
            <br>
            <br>
              <div class="container" display="flex" id="advanced_search" style="text-align-last: justify;">
                <%= select_tag "Opening Hours", options_for_select([['06:00', 1], ['07:00', 2], ['08:00', 3], ['09:00', 4], ['10:00', 5]]) %>
                <%= select_tag "Closing Hours", options_for_select([['16:00', 1], ['17:00', 2], ['18:00', 3], ['19:00', 4], ['20:00', 5]]) %>
                <%= select_tag "Size", options_for_select([['less than 50', 1], ['more than 50', 2]]) %>
                <%= select_tag "Age Structure", options_for_select([['Mixed ages', 1], ['Old homogenous', 2], ['Nest group', 3]]) %>
                <%= select_tag "Educational System", options_for_select([['Emmy Picker', 1], ['Freinet', 2], ['Fröbel', 3], ['Montessory', 4], ['Open Work', 5], ['Reggio', 6], ['Situational', 7], ['Waldorf', 8]]) %>
                <%= select_tag "Aesthetic Education", options_for_select([['Health', 1], ['Disabilitiy Integr.', 2], ['Intercultural Edu.', 3], ['Body and Movement', 4], ['Natural and Environment', 5], ['Scientific experience', 6], ['Religious Education', 7], ['Theater Education', 8]]) %>
              </div>
            <button ><span class="ion-ios-search"><i class="fas fa-search"></i></span></button>

            <% end %>
        </div>
      </div>
    </div>
  </div>
<br>










