<div class="container">

  <div class="container" id="my-kids">
    <h2>My kids</h2>
    <table style="width: 100%;">
      <thead>
        <tr>
          <th style="border: 1px solid #ddd; padding: 8px;">First name</th>
          <th style="border: 1px solid #ddd; padding: 8px;">Last name</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.kids.each do |kid| %>
        <tr>
          <td style="border: 1px solid #ddd; padding: 8px;">
            <%= link_to kid.first_name, edit_kid_path(kid) %>
          </td>
          <td style="border: 1px solid #ddd; padding: 8px;">
            <%= kid.last_name %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="container" style="margin-top: 30px;">
    <%= link_to "Add kid", new_kid_path(current_user), class:"btn btn-primary" %>
  </div>
  <div class="container" id="favourite-kindergardens">
    <h2 style="margin-top: 30px;">My Kindergardens</h2>
    <h4 style="margin-top: 10px;">My favourite kindergadens</h4>
    <table style="width: 100%;">
      <thead>
        <tr>
          <th style="border: 1px solid #ddd; padding: 8px;">Kita</th>
          <th style="border: 1px solid #ddd; padding: 8px;">Address</th>
        </tr>
      </thead>
      <tbody>
        <% @favourites.each do |favourite| %>
        <tr>
          <td style="border: 1px solid #ddd; padding: 8px;">
            <%= favourite.kindergarden.name %>
          </td>
          <td style="border: 1px solid #ddd; padding: 8px;">
            <%= favourite.kindergarden.address %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="container" id="all-kindergardens">
    <h4 style="margin-top: 30px;">Kindergardens I applied to</h4>
    <table style="width: 100%;">
      <thead>
        <tr>
          <th style="border: 1px solid #ddd; padding: 8px;">Child</th>
          <th style="border: 1px solid #ddd; padding: 8px;">Kita</th>
          <th style="border: 1px solid #ddd; padding: 8px;">Status</th>
          <th style="border: 1px solid #ddd; padding: 8px;">First contacted</th>
          <th style="border: 1px solid #ddd; padding: 8px;">Last contacted</th>
        </tr>
      </thead>
      <tbody>
        <% @kids.each do |kid| %>
        <tr>
          <td style="border: 1px solid #ddd; padding: 8px;">
            <%= kid.first_name  %>
          </td>
          <td style="border: 1px solid #ddd; padding: 8px;">
            <% kid.reservations.each do |reservation| %>
            <%= reservation.kindergarden.name %>
            <% end %>
          </td>
          <td style="border: 1px solid #ddd; padding: 8px;">
            <% kid.reservations.each do |reservation| %>
            <%= reservation.status %>
            <% end %>
          </td>
          <td style="border: 1px solid #ddd; padding: 8px;">
            <% kid.reservations.each do |reservation| %>
            <%= reservation.created_at %>
            <% end %>
          </td>
          <td style="border: 1px solid #ddd; padding: 8px;">
            <% kid.reservations.each do |reservation| %>
            <%= reservation.updated_at %>
            <%= link_to "Contact again", reservation_path(reservation),
            method: :patch,
            data: {confirm: 'You are about to contact this Kindergarden again. Would you like to proceed?' },
            class: "btn btn-primary" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="container" id="home-button" style="margin-top: 30px;">
    <%= link_to "Home Page", root_path, class:"btn btn-primary" %>
  </div>
</div>
