<div class="container">

  <div class="container" id="favourite-kindergardens">
    <div class="section-title" style=" color: #f57170;">
      <h4>My favourite kindergarden</h4>
    </div>
    <div class="row">
      <% @favourites.each do |favourite| %>
        <div class="col-4">
          <%= render "shared/favourite_card", kindergarden: favourite.kindergarden %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container" id="my-kids">
    <div class="section-title" style=" color: #f57170;">
      <h4>My kids</h4>
    </div>
    <table style="width: 100%;">
      <thead>
        <tr>
          <th class="table-dashboard" style="padding: 8px;">First name</th>
          <th class="table-dashboard" style="padding: 8px;">Last name</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.kids.each do |kid| %>
        <tr>
          <td class="table-dashboard" style="padding: 8px;">
            <%= link_to kid.first_name, edit_kid_path(kid) %>
          </td>
          <td class="table-dashboard" style="padding: 8px;">
            <%= kid.last_name %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="container" style="margin-top: 10px; margin-bottom: 20px;">
    <%= link_to "Add kid", new_kid_path(current_user), class:"btn btn-primary" %>
  </div>

  <div class="container" id="all-kindergardens">
    <div class="section-title" style=" color: #f57170;">
      <h4>My applications</h4>
    </div>
    <table style="width: 100%;">
      <thead>
        <tr>
          <th class="table-dashboard" style="padding: 8px;">Child</th>
          <th class="table-dashboard" style="padding: 8px;">Kita</th>
          <th class="table-dashboard" style="padding: 8px;">Phone</th>
          <th class="table-dashboard" style="padding: 8px;">Status</th>
          <th class="table-dashboard" style="padding: 8px;">First contacted</th>
          <th class="table-dashboard" style="padding: 8px;">Last contacted</th>
        </tr>
      </thead>
      <tbody>
        <% @kids.each do |kid| %>
          <% if kid.reservations.exists? %>
            <tr>
              <td class="table-dashboard" style="padding: 8px;">
                <%= kid.first_name  %>
              </td>
              <td class="table-dashboard" style="padding: 8px;">
                <% kid.reservations.each do |reservation| %>
                <%= link_to reservation.kindergarden.name, kindergarden_path(reservation.kindergarden) %>
                <% end %>
              </td>
              <td class="table-dashboard" style="padding: 8px;">
                <% kid.reservations.each do |reservation| %>
                <%= reservation.kindergarden.phone %>
                <% end %>
              </td>
              <td class="table-dashboard" style="padding: 8px;">
                <% kid.reservations.each do |reservation| %>
                <%= reservation.status %>
                <% end %>
              </td>
              <td class="table-dashboard" style="padding: 8px;">
                <% kid.reservations.each do |reservation| %>
                <%= I18n.l(reservation.created_at, format: :long, locale: :'en-US') %>
                <% end %>
              </td>
              <td class="table-dashboard" style="padding: 8px;">
                <% kid.reservations.each do |reservation| %>
                  <%= I18n.l(reservation.updated_at, format: :long, locale: :'en-US') %>
                  <% if reservation.status  == 'Accepted' %>
                    <%= link_to "Leave a review", kindergarden_path(reservation.kindergarden), class: "btn btn-primary" %>
                  <% elsif reservation.status  == 'Pending' %>
                    <%= link_to "Resend application", reservation_path(reservation),
                    method: :patch,
                    data: {confirm: 'You are about to contact this Kindergarden again. Would you like to proceed?' },
                    class: "btn btn-primary" %>
                  <% elsif reservation.status  == 'Declined' && kid.reservations.where(kindergarden: reservation.kindergarden, status: 'Pending').empty? %>
                    <%= simple_form_for([reservation.kindergarden, reservation.dup]) do |f| %>
                      <%= f.association :kid, collection: current_user.kids, as: :hidden %>
                      <%= f.button :submit, class:"btn btn-primary" %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render "shared/footer", kindergarden: @kindergarden %>
